body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: thin solid black;
}
.box1 {
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: red;
    transition-duration: 8s;
    
    cursor: crosshair;
}
.box1:hover {
    background-color: rgba(0, 128, 0, 0.344);
    width: 200px;
    transform: rotate(9000deg)
}
.box2 {
    margin: 20px;
    color: pink;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: pink;
    opacity: .5;
    transition: 1s ease-out;
}

.box2 > a {
    text-decoration: none;
    color: pink;
}
.box2:hover {
    width: 100px;
    height: 300px;
    border: 2px solid black;
    background-color: yellow;
    color: black;
    margin: 20px;
    margin-left: 100px;
    opacity: 1.0;
    transform: rotate(720deg)
}

.box2:hover > a:hover {
    text-decoration: underline;
    color: red;
    transform: scale(2);
}
.box3 {
    margin: 20px;
    background-color: blue;
    color: blue;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    transition: all 2s ease-in-out;
}
.box3 > span {
    align-items: flex-end;
}
.box3:hover {
    color: black;
    width: 150px;
    height: 150px;
}
.box3:hover > span {
    color: red;
    font-size: 50px;
}

.box4 {
    background-color: darkorchid;
    color: white;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    margin: 50px;
    transition: all 1s ease;
}

.box4 > .dennis {
    display: none;
}
.box4:hover {
    margin: 50px;
    height: 100px;
    width: 400px;
    color: darkorchid;
    margin-left: 40%;
    transform: rotate(1080deg) scale(1.5);
}
.box4:hover > .name {
    display: none;
}
.box4:hover > .dennis {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: yellow;
}
.box5 {
    background-color: black;
    width: 50px;
    height: 50px;
    margin-left: 90%;
    transition: 2.5s;
}
.box5:hover {
    background-color: chartreuse;
    border-radius: 25px;
    margin-left: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-360deg) scale(3);
}

.box6 {
    background-color: blue;
    margin: 20px;
    margin-left: 50%;
    width: 125px;
    height: 125px;
    transition: 2s ease-in-out;
}

.box6:hover {
    transform: skew(85deg, 5deg) rotate(1080deg);
    background-color: red;
    width: 15px;
    height: 15px;

}
.box7 {
    background: goldenrod;
    width: 100px;
    height: 100px;
    transition: 1.5s ease-out;
    margin: 20px;
}
.box7:hover {
    background: forestgreen;
    
    transform: rotate(90deg) skewy(5deg);
}
.box8 {
    background: fuchsia;
    border: solid 4px black;
    width: 150px;
    height: 100px;
    margin: 20px;
    cursor: pointer;
    transition: all .25s ease-in-out;
    border-radius: 10% 50% 50% 10%;
}

.box8:hover {
    background: rgb(250, 4, 4);
    border: dashed 1px yellow;
    border-radius: 50% 10% 10% 50%;
    margin-left: 90%;
}
.box9 {
    background: lavenderblush;
    height: 25px;
    width: 100px;
    margin: 20px;
    margin-left: 50%;
    transition: width 2s, height 5s;
}
.box9:hover {
    background: lightgreen;
    width: 300px;
    height: 500px;
    transform: rotate(90deg);
}
.box10 {
    background: saddlebrown;
    width: 40px;
    height: 40px;
    border-radius: 40%;
    transition-duration: 5s;
}
.box10:hover {
    background: white;
    border: 2px solid black;
    width: 300px;
    height: 300px;
    margin-left: 50%;
}
.box11 {
    background-color: blue;
    height: 50px;
    width: 50px;
    transition: all 4s ease-in-out;
}
.box12 {
    background-color: yellow;
    height: 50px;
    width: 50px;
    transition: all 4s ease-out;
}
.container:hover > .box11, .container:hover > .box12 {
    transform: rotate(3600deg);
    cursor: pointer;
    margin-left: 20%;
}